*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0F172A;
}

.login-container{

    width:100%;
    height:100vh;

    display:flex;

}
.left-panel{

    width:50%;
    height:100%;

    background:linear-gradient(135deg,#0F172A,#1E293B);

    color:white;

    padding:80px;

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.right-panel{

    width:50%;
    height:100%;

    display:flex;

    justify-content:center;

    align-items:center;

}
.login-card{

    width:420px;

    padding:40px;

    border-radius:20px;

    background:rgba(255,255,255,0.08);

   -webkit-backdrop-filter: blur(20px);
backdrop-filter: blur(20px);

    border:1px solid rgba(255,255,255,0.15);

    box-shadow:0 15px 40px rgba(0,0,0,0.35);

}
.login-card h2{

    color:white;

    margin-bottom:10px;

}

.login-card p{

    color:#cbd5e1;

    margin-bottom:30px;

}
form{

    display:flex;

    flex-direction:column;

}

label{

    color:white;

    margin-bottom:8px;

    font-size:15px;

}
input{

    padding:14px;

    margin-bottom:20px;

    border:none;

    outline:none;

    border-radius:10px;

    background:rgba(255,255,255,0.12);

    color:white;

}
button{

    padding:15px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#1d4ed8;

}
.register{

    margin-top:25px;

    text-align:center;

}

.register span{

    color:#60a5fa;

    cursor:pointer;

    font-weight:bold;

}
.left-panel h1{

    font-size:48px;

    color:#3b82f6;

    margin-bottom:30px;

}

.left-panel h2{

    font-size:42px;

    line-height:60px;

    margin-bottom:25px;

}

.left-panel p{

    color:#cbd5e1;

    font-size:18px;

    line-height:30px;

    width:80%;

    margin-bottom:40px;

}

.left-panel ul{

    list-style:none;

}

.left-panel li{

    margin-bottom:18px;

    font-size:18px;

    color:#f8fafc;

}